<template>
  <SubPage>
    <template v-slot:sidebar>
      <Sidebar :on-click="handleClick" :links="links" />
    </template>
    <template v-slot:content>
      <Main @submit="this.handleSubmit" v-model:content="this.content" />
    </template>
    <template v-slot:references>
      <Reference :reference="reference" />
    </template>
  </SubPage>
</template>

<script>
import SubPage from "@/components/SubPage";
import Sidebar from "@/components/Sidebar";
import { fetchData } from "@/services/fetchData";
import Reference from "@/components/Reference";
import Main from "@/components/Main";
import updateData from "@/services/updateData";
export default {
  name: 'CSS',
  components: { Reference, SubPage, Sidebar, Main },
  data() {
    return {
      data: {},
      content: "",
      reference: "",
      links: [],
    }
  },
  methods: {
    handleClick(link) {
      this.content = this.data[link].content;
      this.reference = this.data[link].references[0];
      this.links = Object.keys(this.data).map((item) => {
        return {
          title: item,
          active: link === item,
        }
      })
    },
    handleSubmit() {
      updateData("css", this.links.find(link => link.active).title, this.content);
    },
  },
  async mounted () {
    const res = await fetchData("css");
    this.data = res;
    this.links = Object.keys(res).map((item, index) => {
      return {
        title: item,
        active: index === 0,
      }
    })
    this.content = res[this.links[0].title].content;
    this.reference = res[this.links[0].title].references[0];
  }
}
</script>
