<template>
  <div>
    <h3>Erklärung:</h3>
    <label>
      <textarea @input="$emit('update:content', $event.target.value)" :value="content"></textarea>
    </label>
    <div>
      <button @click="handleClick">Speichern</button>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Main',
  props: {
    content: String,
  },
  methods: {
    handleClick() {
      this.$emit("submit")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  textarea {
    width: calc(100% - 5px);
    min-height: 200px;
  }
  button {
    float: right;
  }
</style>
