<template>
  <div class="navigation">
    <div v-for="link in links" :key="link.key">
      <router-link
        :to="link.href"
        >
        {{ link.title }}
      </router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Navigation',
  props: {
    links: Array,
    default: () => [],
  }
}
</script>

<style scoped>
.navigation {
  display: flex;
}
.navigation > div {
  padding: 5px 10px;
}

</style>
