<template>
  <div id="page">
    <header>
      <slot name="header" />
    </header>
    <div id="content">
      <main>
        <slot name="main"/>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Page',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
