<template>
  <div>
    <h3>Quellen:</h3>
    <a :href="reference">{{reference}}</a>
  </div>
</template>

<script>
export default {
  name: 'Reference',
  props: {
    reference: String,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  a {
    word-break: break-all;
    text-align: left!important;
  }
</style>
