<template>
  <div>
    <h3>Navigation</h3>
    <span @click="onClick(link.title)" :key="link.title" v-for="link in links">{{link.title}}</span>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  props: {
    links: Array,
    onClick: Function,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  span {
    display: block;
    cursor: pointer;
  }
</style>
