<template>
      <div id="subpage">
        <div class="sidebar">
          <slot name="sidebar"/>
        </div>
        <div class="content">
        <slot name="content"/>
        </div>
        <div class="references">
          <slot name="references"/>
        </div>
      </div>
</template>

<script>
export default {
  name: 'SubPage',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #subpage {
    display: flex;
  }
  .sidebar, .references  {
    flex: 1;
    padding: 10px;
    text-align: left;
  }
  .references {
    text-align: left!important;
  }
  .content {
    padding: 10px;
    flex: 3;
    text-align: left;
  }

</style>
