<template>
  <Page>
    <template v-slot:header>
      <Title title="WWW-Navigator" />
      <Navigation v-bind:links="links" />
    </template>
    <template v-slot:main>
      <router-view/>
    </template>
  </Page>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
<script>
import Page from "@/components/Page";
import Navigation from "@/components/Navigation";
import Title from "@/components/Title";
import store from "./store";
export const links =  [
  {
    href: "/html",
    title: "HTML"
  },
  {
    href: "/css",
    title: "CSS"
  },
  {
    href: "/javascript",
    title: "JavaScript"
  }
]
export default {
  components: { Page, Navigation, Title },
  store,
  mounted() {
    store.dispatch("fetchData", "html");
  },
  data() {
    return {
      links,
    }
  }
}
</script>
