@import "variables";
@import "~bootstrap/scss/bootstrap-grid";
@media all and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  main {
    padding: 0!important;
  }
  .ant-page-header-heading-sub-title {
    display: none;
  }
}
@media all and (max-width: 576px) {
  header img {
    display: none;
  }
  header {
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-nav {
    display: none;
  }
  .ant-drawer-body {
    padding: 56px 0 0 !important;
  }
  nav {
    height: 100%;
    overflow: auto;
    margin-left: 0!important;
  }
  .mobile-nav {
    display: block!important;

    .anticon {
      font-size: 20px;
      padding: 10px;
    }
  }
  .nav {
    // display: none;
  }
  .ant-page-header {
    padding: 5px!important;
  }
}
.mobile-nav {
  display: none;
}
main {
  padding: 20px 24px;
  background-color: $main;
  min-height: calc(100vh - 175px);
}
.page-title {
  color: white;
}
pre {
  margin-bottom: 0!important;
}
.bg-primary {
  background-color: $primary;
  color: white;
}
nav {
  margin-left: -20px;
}
.sidebar {
  position: sticky;
  top: 20px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1)
}
.nav {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.exercise {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: white;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  a {
    color: rgba(0,0,0,0.65);
    &:hover {
      color: rgba(0,0,0,0.65);
      text-decoration: underline;
    }
  }
}

.ant-page-header {
  padding-left: 10px!important;
}

iframe {
  display: block;
  width: 100%;
  min-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.show-code {
  background-color:  rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}

.code-slide {
  height: 0;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
  &.true {
    height: 300px;
  }
}
